%h1 Skippr App Demo

%h2 customers
- form_tag home_path, :method => :get, :class => "uniForm" do
  %fieldset.inlineLabels
    %ol
      %li.string.optional
        %label
          Search:
        != text_field_tag 'search'
        != submit_tag "search!"
%table
  %tr
    %th Shortname
    %th
  - @customers.each do |c|
    %tr
      %td=c.shortname
      %td.action
        != link_to 'details', customer_path(c.id)
%h2 service types
%ul
  - @service_types.each do |st|
    %li=st.name
%h2 invoices
%table
  %thead 
    %tr
      %th Customer
      %th Invoice date
      %th
  %tbody
    - @invoices.each do |c|
      %tr
        %td=c.customer.shortname
        %td=c.date
        %td.action
          != link_to 'details', invoice_path(c.id)
  %tfoot
    %tr
      %td.action{:colspan => "3"}
        != link_to "new Invoice", new_invoice_path




