!!! Strict

%html{html_attrs("de-de")}
  %head
    %title= "Skippr Example App"

    %meta{"http-equiv" =>"Content-Type", :content=>"text/html; charset=utf-8"}/
%body
  - if flash[:error]
    #errorMsg
      %p
        != flash[:error]
  - if flash[:notice]
    #infoMsg
      %p
        != flash[:notice]
  -if flash[:success]
    #okMsg
      %p
        != flash[:success]
  != yield


