!!! Strict

%html{html_attrs("de-de")}
  %head
    %title= "Skippr Example App"

    %meta{"http-equiv" =>"Content-Type", :content=>"text/html; charset=utf-8"}/
    != stylesheet_link_tag "/stylesheets/uni-form-generic.css",  :media => "screen,projection"
    != stylesheet_link_tag "/stylesheets/uni-form.css",  :media => "screen,projection"
    != stylesheet_link_tag "/stylesheets/default.css",  :media => "screen,projection"
    != javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    != javascript_include_tag "/javascripts/application.js"
  %script{:type => "javascript"}
%body
  - if flash[:error]
    #errorMsg
      %p
        != flash[:error]
  - if flash[:notice]
    #infoMsg
      %p
        != flash[:notice]
  -if flash[:success]
    #okMsg
      %p
        != flash[:success]
  .nav
    != link_to "Home", home_path
  .content
    != yield
  
  .footer
    %a{:href => "http://skippr.com/"}
      %img{:alt => "Skippr-logo-transp", :src => "/images/logos/skippr-logo-transp.png?1294827422"}/
    .copyright
      %a{:href => "http://fortytools.com", :target => "_blank"} Ein Tool von fortytools

